@font-face {
  font-family: poppins;
  src: url(Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: roboto;
  src: url(Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: roboto-bold;
  src: url(Roboto/Roboto-Bold.ttf) format('truetype');
}

body{
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins;
	background-color: #FCFCF9;
	color: #13343B;
}

.navigation{
	display: flex;
	width: 100%;
	justify-content: center;
}

.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #322D31;
  color: #fff;
  text-align: center;
  padding: 4px 6px;
  border-radius: 6px;
  font-size: 12px;
 
  transition: all 333ms ease 100ms;
  transition-property: bottom, opacity;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  opacity: 0;
  bottom: 65%;
  z-index: -9999;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  bottom: 90%;
  opacity: 1;
}

.container{
	height: calc(100% - 10px);
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	margin: 0 auto;
	padding-top: 10px;
}


.search{
	position: relative;
	display: flex;
	flex-direction: row;
	width: 62%;
	align-items: center;
}

.search input{
	width: 100%;
	font-size: 1rem;
	height: 42px;
	padding-left: 10px;
	padding-right: 30px;
	font-family: poppins;
}

#x-button{
	position: absolute;
	right: 0;
	margin-right: 10px;
	cursor: pointer;
}

.visible{
	visibility: visible;
}

.hidden{
	visibility: hidden;
}

.results{
	width: 61%;
	display: flex;
	align-self: center;
}

.content{
	width: 100%;
	display: flex;
	flex-direction: column;
	
	margin-top: 20px;
	gap: 0.25rem;
}

.content h2{
	font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: roboto;
    margin: 10px 0;
}

.content p{
	padding: 0;
	margin: 15px 0;
}

.title{
	border: 0 solid #e5e7eb;
    border-bottom-width: 1px;
    margin-bottom: 10px;
}

.title h3{
	font-size: 20px;
	padding: 0;
	margin: 10px 0px;
}

.feedback{
	margin:4px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.feedback-left{
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	margin-left: -10px;
	align-items: center;
}

.feedback-right{
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	font-size: 18px;
	align-items: center;
}

.icon-button{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	padding: 0px 15px;
	border-radius: 20px;
	background-color: transparent;
	transition: background-color 200ms ease 0s;
}

.icon-button:hover{
	background-color: #E4E4E7;
	cursor: pointer;
}

.icon-button[data-like]{
	padding: 10px;
	border-radius: 50%;
	background-color: transparent;
}

.icon-button[data-like]:hover{
	fill:green;
	cursor: pointer;
}

.icon-button[data-dislike]{
	padding: 10px;
	border-radius: 50%;
	background-color: transparent;
}

.icon-button[data-dislike]:hover{
	fill:red;
	cursor: pointer;
}


.icon{
	width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}

.icon-sm{
	width: 1.5em;
    height: 1.5em;
    vertical-align: -0.075em;
}

.skeleton{
	opacity: 0.7;
	animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading{
	from {
		background-color: hsl(200, 20%, 70%);
	}
	to {
		background-color: hsl(200, 20%, 95%);
	}
}

.skeleton-text{
	width: 100%;
	height: 1rem;
	margin-bottom: 0.25rem;
	border-radius: 0.125rem;
}

.skeleton-text-w-10{
	width: 10%;
	height: 1rem;
	margin: 2rem 0;
	border-radius: 0.125rem;
}

.skeleton-text:last-child{
	margin-bottom: 0;
	width: 80%;
}

.citation {
	color: #13343B;
	background-color: #E8E8E3;
	text-decoration: none;
	padding: 0px 4px;
	border-radius: 20px;
	margin-right: 1px;
	font-size: 10px;
	vertical-align: 5px;

	transition: background-color 133ms linear;
}

.citation:hover{
	background-color: #20808D;
	color: white;
}

.sources {
	margin: 15px 0;
}

#sources-list {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(4, minmax(0,1fr));
	margin: 10px 0;
}

.questions{
	margin-top: 15px;
	width: 100%;
}

#questions-list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.question {
	padding: 6px;
	font-family: roboto-bold;
	border-radius: 0.5rem;
	background-color: rgb(244 244 245);
}

.question:hover{
	background-color: #E4E4E7;
	cursor: pointer;
}

.source{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	
	background-color: rgb(244 244 245);
	border-radius: 0.5rem;
	font-size: .75rem;
    line-height: 1rem;
}

.source:hover{
	background-color: #E4E4E7
}

.source-link{
	text-decoration: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 10px;
}

.source-title {
	overflow: hidden;
	overflow-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: rgb(9 9 11);
	font-family: roboto-bold;
	font-weight: 500;
}

.source-base {
	overflow: hidden;
	overflow-wrap: break-word;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 500;
	color: rgb(161 161 170);
}

.prose-sm {
    font-size: .875rem;
    line-height: 1.7142857;
}

.text-xs{
	font-size: .75rem;
    line-height: 1rem;
}

.feedback-sm{
	font-size: 13px;
	height: 35px;
}